<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title><%- title %></title>
</head>
<body>
    <div class="chat-messages">
		<div class="message">
			<p class="meta">Samantha <span>12:12pm</span></p>
			<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,repudiandae.</p>
		</div>
		<div class="message">
			<p class="meta">Marilynn <span>12:20pm</span></p>
		    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi,repudiandae.</p>
		</div>
    </div>

</body>
</html>