<nav>
    <ul>
        <li class="home">
            <a class="homelink" href="/">Bookmatch.</a>
        </li>
        <li class="likebtn">
            <a class="likebtn" href="/">Logout</a>
        </li>
    </ul>
</nav>