<nav>
    <ul>
        <li class="home">
            <a class="homelink" href="../index.ejs">Bookmatch.</a>
        </li>
        <li class="likebtn">
            <a class="likebtn2" href="/like">Liked People</a>
        </li>
    </ul>
</nav>



