<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Bookmatch.</title>
</head>
<body>
    <main class="chat-main">
        <div class="chat-sidebar">
            <h3>Chat Name:</h3>
            <h2 id="room-name">The Maze Runner</h2>
            <h3>Members</h3>
            <ul id="users">
                <li>Samantha</li>
                <li>John</li>
                <li>Marilynn</li>
                <li>Peter</li>
                <li>Mason</li>
            </ul>
      </div>
</body>
</html>