<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %> 
</head>
<body>
    <header><%- include('header.ejs'); %></header>

    <section class="about">
        <h1 class="about">Welcome to Bookmatch.</h1>
        <p class="about">This app is for everyone who loves books! The only thing you have to do is 
            inserting your favourite book and we will match you with people with the same
            interests as you.
        </p>
    </section>


    <footer><%- include('footer.ejs'); %></footer>
</body>
</html>