<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
</head>
<body>

    <header>
        <%- include('partials/header.ejs'); %>
    </header>

    <main>   
        <p class="welcome">Welcome to Bookmatch.<br>This platform helps you to find like-minded people 
            who share the same interests as you.
        </p>
        <form action="/userprofile" method="GET">
            <label for="username">User Name</label>
            <input type="text" placeholder="Your name" required id="xyz" name="username">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password" required name="password">
            <button>Login</button> 
    
            <p>Are you here for the first time? <a href="/register" class="signup">Make an account</a>.</p>

        </form>


    </main>

    <footer>
        <%- include('partials/footer.ejs'); %>
    </footer>


</body>
</html>
