<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
</head>
<body>

    <header>
        <%- include('partials/header.ejs'); %>
    </header>

    <main>
        <section class="intro">
            <h2>Welcome to Bookmatch. </h2>
            <h2>Liked Booknerds</h2>
        </section>

        <form method="POST" action="/liked">
            <section>
                <img src="../../static/images/zara.jpg" alt="This is a photo
                of the first user in the list.">
                <h4>Zahra Ahmadi</h4>
                <p>Favourite book: The Maze Runner by James Dashner</p>
                

                <div class="check">
                    <label class="check-container">
                        <input name="people" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </section>
        </form>

        <form method="POST" action="/liked">
            <section>
                <img src="../../static/images/andre.jpg" alt="This is a photo
                of the second user in the list.">
                <h4>Andre Nijman</h4>
                <p>Favourite book: Origin by Dan Brown</p>
            

                <div class="check">
                    <label class="check-container">
                        <input name="people" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </section>
            <button type="submit">Like this booknerd</button>
        </form>

    </main>
    <footer>
        <%- include('partials/footer.ejs'); %>
    </footer>
    <script src="../../static/js/script.js"></script>

</body>
</html>