<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <header><%- include('../partials/header2.ejs'); %></header>
    <main>
        <section>
         
        </section>

    </main>
    <footer><%- include('../partials/footer.ejs'); %></footer>
    <script src="../../public/js/script.js"></script>
</body>
