<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>

    <header>
        <%- include('../partials/header3.ejs'); %>
    </header>

    <main>
        <h2 id="profile">
            My profile
        </h2>
        <p>
            
        </p>

    </main>



    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>

</body>
</html>